.special-plats{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #141124;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 35px;
    border:none;
    transition:transform ease 0.4s, box-shadow ease 0.4s;
    text-align: center;
    cursor: pointer;
}
.comand-panier{
    position: absolute;
    top: 40%;
    display: flex;
    gap: 5px;
    align-items: center;
}
.comand-panier p{
    font-size: 20px;
    color:green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.comand-panier i{
    font-size: 20px;
    background: orange;
    width:25px;
    height: 25px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.special-plats:hover{
    
    border:none;
    outline:none;
    transform:translate3d(0,-10px ,0);
    box-shadow: 5px 5px 10px -5px #f5b70a;
}
.special-plats img{
    width: 100%;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}
.all-i{
    transform: translate3d(75px,5px,0);
    width: 15px;
    height: 15px;
    color: #f76e11;
}
.special-plats div p{
    color: #f5b70a;
    transform: translate3d(0,10px,0);
   margin: auto;
    font-size: 22px;
}
.tiltle-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate3d(0,25px,0);
}
.tiltle-price  div{
    width: 15px;
    height: 15px;
    background: #f5b70a;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    color: white;
}
.price{
    color: white;
    font-size: 22px;
}
.euro{
    color:#f5b70a;
    
}
.select-menu{
    display: flex;
    justify-content: space-between;
    padding-top: 400px;
}
.all-button{
    position: absolute;
    left: 35%;
    top: 30%;
    width: 400px;   
}
.select-menu-accompagnements h2{
    color: orange;
    font-size: 30px;
    margin: auto !important;
}
.select-menu-accompagnements{    
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
   
}
.select-menu-accompagnements-all-button{
   margin: auto;
    width: 400px;
    padding-top: 30px; 

}
.select-menu-accompagnements-trie-sous-plats-button{
    display: flex;
    padding-left: 120px;
    padding-top: 50px;
    gap: 50px;
 
}
.select-menu-accompagnements-trier{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;
    padding-top: 100px;
}
.select-menu-accompagnements .special-plats{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #141124;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    padding-top: 20px;
    border-radius: 10px;
    padding-bottom: 35px;
    border:none;
    transition:transform ease 0.4s, box-shadow ease 0.4s;
    text-align: center;
    cursor: pointer;

}
.errorPlats{
    font-size: 40px;
    color:white;
    position: absolute;
    left: 35%;
    top: 60%;
}
.errorbiere{
    font-size: 40px;
    color:white;
    position: absolute;
    left: 30%;
    display: none;

}
.parentPanier{
    background:black ;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}
.panier{
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    background:orange;
    font-size: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
    color: red;
    cursor: pointer;
    
}
.a{
    color: inherit;
}
@media screen and (max-width:767px) {
    .special-plats{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #141124;
        padding-left: 5px;
        padding-right: 5px;
        width: 140px;
        padding-top: 10px;
        border-radius: 5px;
        padding-bottom: 20px;
        border:none;
        transition:transform ease 0.4s, box-shadow ease 0.4s;
        text-align: center;
        cursor: pointer;
    }
    .special-plats img{
        width: 100%;
        height:130px;
        border-radius: 50%;
        object-fit: cover;
        margin: auto;
    }
    
.all-i{
    transform: translate3d(25px,5px,0);
    width: 10px;
    height: 10px;
    color: #f76e11;
}
.special-plats div p{
    color: #f5b70a;
    transform: translate3d(0,5px,0);
   margin: auto;
    font-size: 20px;
}
.tiltle-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate3d(0,15px,0);
}
.tiltle-price  div{
    width: 10px;
    height: 10px;
    background: #f5b70a;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    color: white;
    position: relative;
}
.tiltle-price  div i{
    position: absolute;
    left: 6px;
    top: 4px;
}
.price{
    color: white;
    font-size: 22px;
}
.euro{
    color:#f5b70a; 
}
/***menu responsive***/
.all-menu{
    width:100%;
    display: flex;
    flex-direction: column !important;
    gap: 30px !important;
}
.all-button{
    width: 100%; 
    padding-left: 10px;
    padding-right: 10px; 
    position:static !important;
    transform: translate3d(0,100px,0) !important;
}
.trie-plats{
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    padding-top: 30px;
}

.trie-sous-plats-button{
    display: flex;
   justify-content: space-between;
    padding-top: 40px;
}
.select-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 180px;
}
.select-menu-accompagnements{    
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
   
}
.select-menu-accompagnements h2{
    color: orange;
    font-size: 30px;
    margin: auto !important;
}
.select-menu-accompagnements-all-button{
    margin: auto;
     width: 100%;
     padding-top: 30px; 
 
 }
 .select-menu-accompagnements-trie-sous-plats-button{
    display: flex;
    padding-left: 0px;
    padding-top: 50px;
    justify-content: space-between;
 
}
.select-menu-accompagnements-trier{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    width: 100%;
    gap: 15px;
}
.comand-panier{
    position: absolute;
    top: 15%;
    display: flex;
    gap: 5px;
    align-items: center;
}
.comand-panier p{
    font-size: 18px;
    color:green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.comand-panier i{
    font-size: 15px;
    background: orange;
    width:20px;
    height: 20px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
}
}

