.slider-contain{
    transform: translate3d(0,80px,0);
    height: 500px;
    padding: 15px;
    position: relative;   
}
.slider{
    width: 50%;
    display: flex;
    gap: 50px;
    position: absolute;
    left: 25%;   
}


.slider h2{
    color: orange;   
}
.slider p{
    color: gray;   
}
.slider div div {
    padding: 11px;
    text-align: center;
    color: white;
    background: orange;
    border-radius: 5px;
    width: 100px;
    transform: translate3d(0,30px,0);
    cursor: pointer;
    background: green;
  
}
.slider div {
    width: 35%;
    position: absolute;
}
.left{
    position: absolute;
    top: 30%;
    transform: translate3d(0,50px,0);
    left: 21%;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    color: black;
}
.left i{
    font-size: 20px;
}
.right i{
    font-size: 20px;
}
.right{
    position: absolute;
    top: 30%;
    transform: translate3d(0,50px,0);
    right: 21%;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.slider img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: -20px;
    left: 43%;
}
.sliderNumber{
    position: absolute;
    left: 45%;
    bottom: 20%;
    color:white;
    font-weight:bold;
}
/**mobile***/
 @media screen and (max-width:767px) {
    .slider-contain{
            transform: translate3d(0,100px,0);
            height: 500px;
            padding: 15px;
            position: relative;
    }
   
     .slider{
        display: flex;
        position: absolute;
        left: 15px; 
        /* justify-content: space-between !important;
        background: green; */
          
    }
    .slider img{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left:70%;
        top: 5%;
    }
    .left{
        position: absolute;
        top: 6% !important; 
         left: 27%;
        text-align: center;
        width: 13px;
        height: 13px;
        padding: 10px;
        line-height: 15px;
        border-radius: 50%;
        background: white;
        cursor: pointer;
    }
    .right{
    position: absolute;
    top: 6% !important; 
     right: -2%; 
    text-align: center;
    width: 13px;
    height: 13px;
    padding: 10px;
    line-height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}
.left i{
    font-size: 20px;
    position: absolute;
    left: 5px;
    
}
.right i{
    font-size: 20px;
    position: absolute;
    right: 5px;
    
}
.slider div div {
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background: orange;
    border-radius: 5px;
    width: 100px !important;
    transform: translate3d(-13px,30px,0);
    cursor: pointer;
    font-size: 15px;
    background: green;
  
}
.slider div {
    width: 50%;
    position: absolute;
    /* background: yellow; */
    transform: translate3d(-15px,0,0);
    
}
.slider h2{
    color: orange; 
    font-size: 18px;  
}
.slider p{
    color: gray;
    font-size: 13px;   
}
/*.sliderNumber{
    position: absolute;
    left: 45%;
    bottom: 20%;
    color:white;
    font-weight:bold;
    display: none;
}  */
 } 
