
.commande{
    background: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
}


.commande h2{
    color: orange;
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 50px;
}
.bloc-commande{
    display: flex;
    align-items: center;
}
.sous-commande{
    margin: auto;
}
.author{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bloc-quantity{
    position: absolute;
    right: 350px;
    display: flex;
    flex-direction: column;

}
.parent-quantity{
   
    display: flex;
    gap: 20px;
    align-items: center;
}
.delete-recette{
    cursor: pointer;
    color:orange;
    font-size: 20px;
}
.parent-quantity span{
    color:white;
    font-size: 20px;
}
.quantitynumber{
    color: red;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    width: 30px;
 
}
.parent-article{
    position: relative;
    background: black;
}
.total-article{
    
    font-size: 30px;
    align-items: center;
    display: flex;
    gap: 5px;
    right: 0px;
    position: absolute;
}
.total-article :nth-child(1){
    
    color: white;
}
.total-article :nth-child(2){
    
    color:orange;
}
.parent-valider{
    padding-top: 70px;
    margin: auto;
}
.valider{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    background: orange;
    color: green;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.valider:hover{
    background: white;
    color:red;

}
@media screen and (max-width:767px) {
    .commande{
        background: black;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-top: 350px;
        padding-bottom: 50px;
        width: 100%;
    }
    .author{
        color:green;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
.commande h2{
    color: white;
    position: absolute;
    top: 20%;
    width: 70%;
    font-size: 20px;
    line-height: 20px;
    opacity: 0.5;
}
.sous-commande{
    margin:0 !important;
}
.bloc-quantity{
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.parent-quantity{
   
    display: flex;
    gap: 20px;
    align-items: center;
}
.parent-article{
    position: relative;
    background: black;
}
.total-article{
    
    font-size: 30px;
    top: 10px;
    align-items: center;
    display: flex;
    gap: 5px;
    right: 0px;
    position: absolute;
}
}

